/* body */
body {
  color: #222;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;;
}

h2 {
  font-size: 64px;
  line-height: 68px;
  font-weight: 600;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: inherit;
}

.inner {
  padding: 0 60px;
  max-width: 1654px;
  margin: 0 auto;
}

/* header */
.header {
  height: 100vh;
  margin-bottom: 150px;
}

.header__inner {
  display: flex;
  height: 100%;
}

.header__left {
  background-color: black;
  width: 50%;
  position: relative;
}

.header__left__inner {
  margin: 50px;
}

.header__icon-wrapper {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: relative;
}

.header__icon {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__icon-wrapper:hover {
  background-color: #313131;
}

.header__left__content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header__h1 {
  color: white;
  font-size: 64px;
  line-height: 70px;
  font-weight: 600;
  margin-bottom: 50px;
}

.header__btn, .nav__btn, .header02__btn{
  background: linear-gradient(90deg, #EE2752, #BD1E59);
}

.button {
  border-radius: 8px;
  font-size: 16px;
  line-height: 20px;
  color: white;
  font-weight: 600;
  padding: 13px 30px;
  opacity: 1;
  transition: .3s;
}

.header__btn {
  width: 250px;
  margin: 0 auto;
}

.button:hover {
  opacity: .9;
  color: white;
}

.header__right{
  width: 50%;
}

.header__right__inner {
  height: 100vh;
  position: relative;
}

.header__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#video__btn, #video__btn02 {
  position: absolute;
  bottom: 180px;
  left: 50px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #121E24;
}

.i-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

#video__btn i, #video__btn02 i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.fa-pause {
  display: none;
}

.current .fa-play{
  display: none;
}

.current .fa-pause {
  display: block;
}

/* nav */
.nav__icon {
  color: black;
  margin-left: 20px;
}

.nav__btn__wrapper {
  margin-right: 30px;
}

.no {
  display: none;
}

.bl {
  display: block;
}

.nav02 {
  padding-top: 20px;
  padding-bottom: 20px;
  display: none;
}

.nav02__btn__wrapper {
  margin: 0 30px;
  width: 100%;
  text-align: center;
}

.nav02__btn {
  width: 100%;
}

.nav02 .container-fluid {
  width: 100%;
}

/* host */
.host {
  margin-bottom: 200px;
}

.host__h2 {
  margin-bottom: 50px;
}

/* host-swiper */
.swiper {
  max-width: 1700px;
  margin-left: 50px;
  padding-bottom: 30px;
}

.slide__content {
  margin: 0 10px;
  margin-bottom: 30px;
}

.slide__img__wrapper {
  position: relative;
  width: 100%;
}

.slide__img__wrapper::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.slide__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  box-shadow: -10px 10px 10px #D1D1D1;
}

.slide__text {
  margin: 30px 50px 30px 0;
  font-size: 26px;
  line-height: 30px;
  font-weight: 400;
  height: 150px;
}

.slide__name {
  width: 80px;
  height: 30px;
  margin-bottom: 30px;
}

.slide__ttl {
  font-size: 16px;
  line-height: 20px;
  color: #717171;
}

.swiper-button-prev, .swiper-button-next {
  background-image: none;
  background-color: #eee;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: #717171;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
  background-color: #f7f7f7;
}

.swiper__btn__wrapper {
  position: relative;
  margin-top: 50px;
  margin-bottom: 30px;
}

.swiper-button-prev {
  position: absolute;
  left: 50%;
  transform: translateX(-200%);
}

.swiper-button-next {
  position: absolute;
  left: 50%;
  transform: translateX(-60%);
}

.swiper-button-prev::after {
  content: none;
}

.swiper-button-next::after {
  content: none;
}

/* selecter */
.select {
  margin-bottom: 100px;
}

.select__content {
  text-align: center;
  margin-bottom: 50px;
}

.select__ttl{
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  color: #717171;
}

.select__btn {
  background: none;
  color: inherit;
  border-bottom: solid 1px #222;
  border-radius: 0;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  padding: 0;
}

.select__end {
  display: block;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 50px;
}

.select__end__text {
  color: inherit;
  border-bottom: #222 1px solid;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
}

/* superhost */
.superhost {
  margin-bottom: 170px;
}

.sh__wrapper {
  width: 100%;
  border-radius: 10px;
  background-image: url(../img/superhost-bg.webp);
  background-size: cover;
}

.sh__contents__wrapper {
  width: 100%;
  height: 100%;
}

.sh__contents {
  text-align: center;
  padding: 0 10px;
  color: white;
  padding-top: 10%;
  padding-bottom: 10%;
  
}

.sh__ttl {
  font-size: 55px;
  line-height: 1.3;
  font-weight: 600;
  margin-bottom: 50px;
}

.sh__btn {
  background: white;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #222;
  padding: 10px 30px;
  opacity: 1;
  transition: .3s;
}

.sh__btn:hover {
  opacity: .9;
}

.sh__btn:active {
  padding: 5px 25px;
  margin: 5px 5px;
}

/* aircover */
.aircover {
  margin-bottom: 50px;
}

.aircover__wrapper {
  width: 100%;
  border-radius: 10px;
  background: #F7F7F7;
}

.aircover__contents {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.aircover__left {
  width: 50%;
  text-align: left;
}

.aircover__left__contents {
  padding: 200px 50px;
  text-align: left;
}

.aircover__ttl {
  font-size: 70px;
  line-height: 1;
  display: block;
  text-align: left;
  margin-bottom: 30px;
}

.pink {
  color: #FF385C;
}

.aircover__text {
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
  margin-bottom: 30px;
}

.aircover__btn {
  background: white;
  border: 1px solid #222;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #222;
  padding: 10px 30px;
  opacity: 1;
  transition: .3s;
}

.aircover__btn:hover {
  opacity: .9;
}

.aircover__btn:active {
  padding: 5px 25px;
  margin: 5px 5px;
}

.aircover__right {
  width: 50%;
}

.air__img__wrapper {
  width: 100%;
}

.aircover__img {
  width: 100%;
  object-fit: cover;
}

/* aircover02 */
.aircover02 {
  margin-bottom: 80px;
}

.aircover02__inner {
  margin: 0 20px;
}
.aircover02__wrapper {
  width: 80%;
  margin: 0 auto;
  background: #F7F7F7;
  margin-bottom: 20px;
}

.aircover02__img {
  width: 100%;
}

.aircover02__ttl {
  font-size: 32px;
  line-height: 36px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 50px;
}

/* header02 */

.header02__right {
  order: 1;
  position: relative;
}

.header02__h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 600;
  color: white;
  margin-bottom: 30px;
}

.header02__text {
  font-size: 18px;
  line-height: 26px;
  color: white;
  margin-bottom: 50px;
}

.header02__btn {
  width: 150px;
  margin: 0 auto;
}

.header02__left {
  order: 0;
}

.header02__right__content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* footer */
footer {
  background: #F7F7F7;
}

.footer__inner {
  padding: 50px 80px 20px 80px;
}

.footer__li {
  display: flex;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 25px;
}

.saport, .community, .hosting, .company {
  width: 25%;
  padding-right: 30px;
}

.footer__ttl {
  font-size: 14px;
  line-height: 18px;
  font-weight: 800;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

footer li {
  margin-top: 16px;
}

footer a{
  color: #222;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}

footer a:hover {
  border-bottom: 1px solid #222;
  color: #222;
}

.footer__end {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.footer__end__left  {
  line-height: 1;
  width: 70%;
}

.footer__end__right {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
}

.a__left {
  width: 27%;
  
}

.a__left span {
  border-bottom: 1px solid #222;
}

.a__right {
  width: 13%;
}

.fa-globe, .yen {
  padding-right: 5px;
}

.footer__end__right a:hover {
  border: none;
}

.container {
  max-width: 100%;
}

/* fixedbutton */
.fix {
  position: fixed;
  top: 25px;
  right: 25px;
  margin: 0;
  width: 200px;
  height: 30px;
  border-radius: 15px;
  box-shadow: rgb(221 221 221) 0px 0px 0px 1px inset, rgb(0 0 0 / 18%) 0px 2px 4px !important;;
  font-weight: 600;
  z-index: 1000;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid #ddd;
}

.fix:hover {
  box-shadow: rgb(221 221 221) 0px 0px 0px 1px inset, rgb(0 0 0 / 12%) 0px 6px 16px !important;
}

/* media */
/* 1200 */
@media (max-width:1200px) {
  .footer__inner {
    padding: 50px 30px 20px 30px;
  }

  .footer__li {
    flex-direction: column;
    border-bottom: none;
    padding-bottom: 0;
  }

  .footer ul li {
    margin-right: none;
  }

  footer .container {
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
  }

  .footer__end {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__end__left {
    order: 1;
    text-align: center;
  }

  .footer__end__right {
    width: 50%;
    margin-bottom: 20px;
  }

  .aircover {
    margin-bottom: 0;
  }

  .aircover__inner {
    padding: 0;
  }

  .aircover__wrapper {
    border-radius: 0;
  }


}

/* 950 */
@media (max-width:950px) {
  .header {
    margin-bottom: 0;
  }

  .header__inner {
    flex-direction: column;
  }

  .header__left {
    order: 1;
    width: 100%;
    height: 320px;
    background: white;
    text-align: left;
    border-radius: 10px 10px 0 0;
    margin-top: -50px;
    z-index: 100;
  }

  .header__h1 {
    color: #222;
    text-align: left;
    margin-left: 50px;
    margin-top: 50px;
  }

  .header__left a {
    display: none;
  }

  .header__right {
    order: 0;
    width: 100%;
    height: 665px;
  }

  .header__right__inner {
    height: 100%;
  }

  .header__video {
    height: 100%;
  }

  .header__icon-wrapper {
    display: none;
  }

  .header02__right {
    background: black;
  }

  .header02__right__content {
    padding-left: 50px;
  }

  .header02__h1 {
    font-size: 32px;
    line-height: 36px;
    text-align: left;
  }

  .header02__text {
    font-size: 18px;
    line-height: 26px;
    text-align: left;
  }

  .header02 a {
    display: block;
    text-align: left;
  }

  .header02__btn {
    display: inline;
  }

  
  /* host */
  .host__h2 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .swiper {
    margin-left: 20px;
  }
}

/* 744 */
@media(max-width:744px) {
.header__left {
  height: 400px;
}

  .header__h1 {
    font-size: 40px;
    line-height: 44px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .host__h2 {
    font-size: 26px;
    line-height: 30px;
    text-align: left;
    margin-left: 20px;
  }

  .slide__text {
    font-size: 18px;
    line-height: 24px;
    margin-right: 0;
  }

  .nav01 {
    display: none;
  }

  .nav02 {
    display: block;
  }

  .select__ttl {
    font-size: 24px;
    line-height: 32px;
    font-weight: 100;
    margin-bottom: 0;
  }

  .select__btn {
    font-size: 24px;
    line-height: 32px;
  }

  .select__end {
    font-size: 24px;
    line-height: 32px;
  }

  .select__content {
    text-align: left;
    margin-bottom: 30px;
  }

  .select__inner {
    margin: 0 20px;
  }

  .sh__ttl {
    font-size: 32px;
    line-height: 36px;
  }

  .sh__btn {
    width: 90%;
  }

  .aircover {
    display: none;
  }

  .aircover02{
    display: block;
  }
}


